<!DOCTYPE html>
<html>
<head>
    <title>Inicio</title>
    <script src="/socket.io/socket.io.js"></script>
<html lang="es-AR">
<head>
    <meta charset="UTF-8" />
    <link rel="profile" href="http://gmpg.org/xfn/11" />
    <title>{{title}}</title>
</head>
<body>
{{> header}}
{{{body}}}
</body>
</html>
