<div id="chat">
  <h1>Chat</h1>
  <ul id="message-list">
    <h1>hola</h1>
    <!-- Los mensajes serán añadidos aquí dinámicamente con JavaScript -->
  </ul>
  <form id="message-form">
        <input id="user" type="text" placeholder="Nombre de usuario">
        <input id="message" type="text" placeholder="Escribe un mensaje">
        <button>Enviar</button>
  </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="../js/index.js"></script>
</script>
